@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    background-image: url(desert-morozhenoe-shokoladnoe-vanilnoe-ice-creams-leaves.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: bold;
    font-style: oblique;
     text-shadow: black 1px 1px;
}
a {
    text-decoration: none;
    width: 30px;
}
h1:hover {
    color: red;
}
.v {
    display: flex;
    text-align: center;
    margin-left: 500px;
    justify-content: center;
}
.d {
    text-align: right;
    margin: 0px 600px 0px 0px;
}
.d {
    display: flex;
    justify-content: flex-end;
}
.logo{
    width: 100px;
    }
.logo img{
float: left;
margin-right: 0px 0px 0px 30px;
width: 100px;
height: 100px;
 }
.b {
    width: 200px;
    height: 150px;
}
.a {
    width: 100px;
    height: 100px;
}
p {
    max-width: 900px;
}
h4 {
    max-width: 900px;
}
h3 {
    max-width: 900px;
}
.j {
    background-color: rgba(255, 255, 255, .5);
    padding: 20px 7px;  
}
.jjba {
    width: 30px;
}